<div class="drawer dark fixed">
  <div class="media user-box" style="padding: 20px 8px">
    <div class="media-left">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg" class="media-object" style="width:60px; border-radius: 50%">
    </div>
    <div class="media-body">
      <h4 class="media-heading">John Doe</h4>
      <p>Premium User</p>
    </div>
  </div>
  <ul class="list">
    <div class="list-search-box dark">
      <input type="text" name="" value="" placeholder="Search for...">
    </div>
    <a href="index.html" class="list-item thick active">
      <i class="icon ion-speedometer"></i>Dashboard
    </a>
    <a href="index.html" class="list-item thick">
      <i class="icon ion-android-apps"></i>My Sites
      <span class="badge"></span>
    </a>
    <a href="index.html" class="list-item thick">
      <i class="icon ion-person"></i>Users
      <span class="badge">14</span>
    </a>
    <a href="index.html" class="list-item thick">
      <i class="icon ion-android-clipboard"></i>New Post
    </a>
    <a href="index.html" class="list-item thick">
      <i class="icon ion-calendar"></i>Settings
      <span class="badge blue">
        <i class="icon ion-edit"></i>
      </span>
    </a>
  </ul>
</div>
