$set-prefix: '' , -moz- , -webkit-, -o-;

@mixin setPrefix($name, $value) {
    @each $prefix in $set-prefix {
        #{$prefix}#{$name}: $value;
    }
}

.dropdown {
  position: relative;

  &:hover {
    > .dropdown-child {
      opacity: 1;
      display: block;
      margin-top: 0px;
      z-index: 100;
      height: auto;
    }
  }
}

.dropdown .dropdown-child {
  position: absolute;
  min-height: 20px;
  background-color: #fff;
  top: 0;
  right: 0px;
  opacity: 0;
  margin-top: -10px;
  @include setPrefix(transition, .3s);
  @include setPrefix(box-shadow, 0px 0px 3px rgba(0,0,0,.2));
  z-index: -1;
  height: 0px;
  min-height: 0px;
  box-sizing: border-box;
  overflow: hidden;

  .dropdown-child-list {
    list-style: none;
    text-align: left;
    padding: 0 24px;
    background-color: #fff;
    line-height: 34px;
    min-width: 160px;
    white-space: nowrap;
    border-top: #eee solid 1px;
    @include setPrefix(transition, .3s);

    &:hover {
      background-color: rgba(0,0,0,.06);
    }
  }

  &:hover {
    opacity: 1;
    display: block;
  }
}
